<div class="">

    <div class="modal fade" id="_forgotPW" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Lấy lại mật khẩu</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-3">

                        </div>
                        <div class="col-sm-6">

                            <form>
                                <div class="form-group">
                                    <label>Mời bạn nhập Email của mình</label>
                                    <input id="ForgotEmail" name="Email" class="form-control" required />
                                </div>
                                <div class="form-group text-right">
                                    <button id="btnForgotPW" type="button" class="btn btn-success">Submit</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-3">

                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>

<script type="text/javascript">
            $(document).ready(function () {
                $('#btnForgotPW').click(function () {
                    alert("Vui lòng chờ trong giây lát!");
                    
                    var email = { "email": $('#ForgotEmail').val()};

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("ForgotPW")',
                        data: email,
                        dataType: "json",
                        success: function (result) {
                            console.log(result);
                            alert(result);
                            location.reload();
                        },
                        error: function (result) { console.log(result); }
                    });
                })
            });

    </script>

