use master
go

create [db_AptechShoseShopMain]
go

USE [db_AptechShoseShopMain]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 20/04/21 9:41:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banners]    Script Date: 20/04/21 9:41:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banners](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[UrlImageBanner] [nvarchar](max) NULL,
	[LinkBanner] [nvarchar](max) NULL,
	[Position] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Banners] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 20/04/21 9:41:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](max) NULL,
	[Position] [int] NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 20/04/21 9:41:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ColorName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Colors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 20/04/21 9:41:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[UnitPrice] [float] NOT NULL,
	[DiscountRatio] [float] NULL,
	[Quantity] [int] NOT NULL,
	[ColorName] [nvarchar](max) NULL,
	[SizeName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 20/04/21 9:41:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](max) NULL,
	[CustomerEmail] [nvarchar](max) NULL,
	[CustomerAddress] [nvarchar](max) NULL,
	[CustomerPhone] [nvarchar](max) NULL,
	[StatusId] [int] NOT NULL,
	[UserId] [int] NULL,
	[OrderDate] [datetime] NOT NULL,
	[OrderNote] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Policies]    Script Date: 20/04/21 9:41:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Policies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UrlIcon] [nvarchar](max) NULL,
	[PolicyName] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Policies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductColors]    Script Date: 20/04/21 9:41:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductColors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ColorId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ProductColors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 20/04/21 9:41:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProductImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 20/04/21 9:41:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](max) NULL,
	[UnitPrice] [float] NOT NULL,
	[DiscountRatio] [float] NULL,
	[DiscountExpiry] [datetime] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ProductImageId] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSizes]    Script Date: 20/04/21 9:41:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSizes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[SizeId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ProductSizes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 20/04/21 9:41:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sizes]    Script Date: 20/04/21 9:41:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sizes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SizeName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Sizes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusOrders]    Script Date: 20/04/21 9:41:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusOrders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.StatusOrders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusProducts]    Script Date: 20/04/21 9:41:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.StatusProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusUsers]    Script Date: 20/04/21 9:41:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.StatusUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbUsers]    Script Date: 20/04/21 9:41:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[Gender] [bit] NULL,
	[Email] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[StatusId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Avatar] [nvarchar](max) NULL,
	[NumberPhone] [nvarchar](max) NULL,
	[CountLogin] [int] NULL,
	[TimeLock] [datetime] NULL,
 CONSTRAINT [PK_dbo.TbUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 20/04/21 9:41:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Banners] ON 

INSERT [dbo].[Banners] ([Id], [Name], [Description], [UrlImageBanner], [LinkBanner], [Position]) VALUES (8, N'', N'', N'banner-3.png', N'', 3)
INSERT [dbo].[Banners] ([Id], [Name], [Description], [UrlImageBanner], [LinkBanner], [Position]) VALUES (9, N'', N'', N'banner-4.jpg', N'', 4)
INSERT [dbo].[Banners] ([Id], [Name], [Description], [UrlImageBanner], [LinkBanner], [Position]) VALUES (10, N'', N'', N'banner-5.jpg', N'', 5)
SET IDENTITY_INSERT [dbo].[Banners] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [CategoryName], [Position]) VALUES (1, N'Men''s Sports Shoes', 1)
INSERT [dbo].[Categories] ([Id], [CategoryName], [Position]) VALUES (2, N'Men''s loafers', 2)
INSERT [dbo].[Categories] ([Id], [CategoryName], [Position]) VALUES (3, N'Men''s Boot Shoes', 3)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Colors] ON 

INSERT [dbo].[Colors] ([Id], [ColorName]) VALUES (1, N'Black')
INSERT [dbo].[Colors] ([Id], [ColorName]) VALUES (2, N'White')
INSERT [dbo].[Colors] ([Id], [ColorName]) VALUES (3, N'Brown')
SET IDENTITY_INSERT [dbo].[Colors] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [UnitPrice], [DiscountRatio], [Quantity], [ColorName], [SizeName]) VALUES (4, 6, 80, 35, 0, 1, N'Black', N'35')
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [UnitPrice], [DiscountRatio], [Quantity], [ColorName], [SizeName]) VALUES (6, 7, 80, 35, 0, 1, N'Black', N'35')
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [UnitPrice], [DiscountRatio], [Quantity], [ColorName], [SizeName]) VALUES (8, 8, 25, 110, 0, 2, N'White', N'36')
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [CustomerName], [CustomerEmail], [CustomerAddress], [CustomerPhone], [StatusId], [UserId], [OrderDate], [OrderNote]) VALUES (6, N'tyui', N'dat@gmail.com', N'sfhgdf', N'323345', 1, NULL, CAST(N'2021-03-31T17:43:14.447' AS DateTime), N'')
INSERT [dbo].[Orders] ([Id], [CustomerName], [CustomerEmail], [CustomerAddress], [CustomerPhone], [StatusId], [UserId], [OrderDate], [OrderNote]) VALUES (7, N'fgnf', N'dat@gmail.com', N'sfhgdf', N'323345', 1, NULL, CAST(N'2021-04-01T08:19:44.557' AS DateTime), N'')
INSERT [dbo].[Orders] ([Id], [CustomerName], [CustomerEmail], [CustomerAddress], [CustomerPhone], [StatusId], [UserId], [OrderDate], [OrderNote]) VALUES (8, N'xuan dat', N'dat@gmail.com', N'Da nang', N'0327010113', 4, 8, CAST(N'2021-04-01T09:09:51.473' AS DateTime), N'')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Policies] ON 

INSERT [dbo].[Policies] ([Id], [UrlIcon], [PolicyName], [Description]) VALUES (1, N'fa-shipping-fast', N'Free Shipping Item', N'Orders over $500')
INSERT [dbo].[Policies] ([Id], [UrlIcon], [PolicyName], [Description]) VALUES (2, N'fa-redo-alt', N'Money Back Guarantee', N'100% money back')
INSERT [dbo].[Policies] ([Id], [UrlIcon], [PolicyName], [Description]) VALUES (3, N'fa-piggy-bank', N'Cash On Delivery', N'Lorem ipsum dolor amet')
SET IDENTITY_INSERT [dbo].[Policies] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductColors] ON 

INSERT [dbo].[ProductColors] ([Id], [ProductId], [ColorId]) VALUES (3, 8, 3)
INSERT [dbo].[ProductColors] ([Id], [ProductId], [ColorId]) VALUES (4, 9, 1)
INSERT [dbo].[ProductColors] ([Id], [ProductId], [ColorId]) VALUES (5, 10, 2)
SET IDENTITY_INSERT [dbo].[ProductColors] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageUrl]) VALUES (3, 8, N'-1.jpg')
INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageUrl]) VALUES (4, 8, N'SportADD2003-2.jpg')
INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageUrl]) VALUES (5, 8, N'SportADD2003-3.jpg')
GO
SET IDENTITY_INSERT [dbo].[ProductImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [ProductName], [UnitPrice], [DiscountRatio], [DiscountExpiry], [CategoryId], [ProductImageId], [Description], [CreatedDate], [CreatedBy], [StatusId]) VALUES (8, N'SPORT ADD 2003', 50, 15, CAST(N'2021-03-23T00:00:00.000' AS DateTime), 1, 3, NULL, CAST(N'2021-03-23T00:00:00.000' AS DateTime), 6, 1)
INSERT [dbo].[Products] ([Id], [ProductName], [UnitPrice], [DiscountRatio], [DiscountExpiry], [CategoryId], [ProductImageId], [Description], [CreatedDate], [CreatedBy], [StatusId]) VALUES (9, N'ALPHA BOUNCE', 75, 18, CAST(N'2021-03-23T00:00:00.000' AS DateTime), 1, 9, NULL, CAST(N'2021-03-23T00:00:00.000' AS DateTime), 6, 1)
INSERT [dbo].[Products] ([Id], [ProductName], [UnitPrice], [DiscountRatio], [DiscountExpiry], [CategoryId], [ProductImageId], [Description], [CreatedDate], [CreatedBy], [StatusId]) VALUES (10, N'ALPHA BOUNCE', 75, 18, CAST(N'2021-03-23T00:00:00.000' AS DateTime), 1, 13, NULL, CAST(N'2021-03-23T00:00:00.000' AS DateTime), 6, 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductSizes] ON 

INSERT [dbo].[ProductSizes] ([Id], [ProductId], [SizeId]) VALUES (3, 8, 2)
INSERT [dbo].[ProductSizes] ([Id], [ProductId], [SizeId]) VALUES (4, 9, 1)
INSERT [dbo].[ProductSizes] ([Id], [ProductId], [SizeId]) VALUES (5, 10, 1)
GO
SET IDENTITY_INSERT [dbo].[ProductSizes] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (2, N'Manager')
INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (3, N'Customer')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Sizes] ON 

INSERT [dbo].[Sizes] ([Id], [SizeName]) VALUES (1, N'35')
INSERT [dbo].[Sizes] ([Id], [SizeName]) VALUES (2, N'36')
INSERT [dbo].[Sizes] ([Id], [SizeName]) VALUES (3, N'37')
SET IDENTITY_INSERT [dbo].[Sizes] OFF
GO
SET IDENTITY_INSERT [dbo].[StatusOrders] ON 

INSERT [dbo].[StatusOrders] ([Id], [StatusName]) VALUES (1, N'Pending')
INSERT [dbo].[StatusOrders] ([Id], [StatusName]) VALUES (2, N'Shipping')
INSERT [dbo].[StatusOrders] ([Id], [StatusName]) VALUES (3, N'Received')
SET IDENTITY_INSERT [dbo].[StatusOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[StatusProducts] ON 

INSERT [dbo].[StatusProducts] ([Id], [StatusName]) VALUES (1, N'In stock')
INSERT [dbo].[StatusProducts] ([Id], [StatusName]) VALUES (2, N'Out of stock')
SET IDENTITY_INSERT [dbo].[StatusProducts] OFF
GO
SET IDENTITY_INSERT [dbo].[StatusUsers] ON 

INSERT [dbo].[StatusUsers] ([Id], [StatusName]) VALUES (1, N'Actived')
INSERT [dbo].[StatusUsers] ([Id], [StatusName]) VALUES (2, N'Block')
SET IDENTITY_INSERT [dbo].[StatusUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[TbUsers] ON 

INSERT [dbo].[TbUsers] ([Id], [FullName], [Gender], [Email], [Address], [Password], [StatusId], [CreatedDate], [Avatar], [NumberPhone], [CountLogin], [TimeLock]) VALUES (6, N'Văn Thịnh', 1, N'thinh@gmail.com', N'DN', N'3ef8b2e681a26b56619ad353595b09a730b8e7f711b46ef112cdf129a0dbfa8e', 1, CAST(N'2021-03-23T00:00:00.000' AS DateTime), N'99b0140f754bfd772a54ee7913bb94a7.jpg', N'0327010113', 0, NULL)
INSERT [dbo].[TbUsers] ([Id], [FullName], [Gender], [Email], [Address], [Password], [StatusId], [CreatedDate], [Avatar], [NumberPhone], [CountLogin], [TimeLock]) VALUES (8, N'Xuân Đạt', 0, N'dat@gmail.com', N'Quang Nam', N'3ef8b2e681a26b56619ad353595b09a730b8e7f711b46ef112cdf129a0dbfa8e', 1, CAST(N'2021-03-29T17:20:10.730' AS DateTime), N'elle-viet-nam-avengers-endgame-13.jpg', N'0912084221', 0, NULL)
INSERT [dbo].[TbUsers] ([Id], [FullName], [Gender], [Email], [Address], [Password], [StatusId], [CreatedDate], [Avatar], [NumberPhone], [CountLogin], [TimeLock]) VALUES (14, N'PhongNV', 1, N'phong@gmail.com', N'DN', N'3ef8b2e681a26b56619ad353595b09a730b8e7f711b46ef112cdf129a0dbfa8e', 1, CAST(N'2021-04-05T21:50:29.770' AS DateTime), N'elle-viet-nam-avengers-endgame-02.jpg', N'04895748578', 0, NULL)
SET IDENTITY_INSERT [dbo].[TbUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([Id], [UserId], [RoleId]) VALUES (3, 6, 2)
INSERT [dbo].[UserRoles] ([Id], [UserId], [RoleId]) VALUES (4, 6, 1)
INSERT [dbo].[UserRoles] ([Id], [UserId], [RoleId]) VALUES (6, 8, 2)
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.StatusOrders_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[StatusOrders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.StatusOrders_StatusId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.TbUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[TbUsers] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.TbUsers_UserId]
GO
ALTER TABLE [dbo].[ProductColors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductColors_dbo.Colors_ColorId] FOREIGN KEY([ColorId])
REFERENCES [dbo].[Colors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductColors] CHECK CONSTRAINT [FK_dbo.ProductColors_dbo.Colors_ColorId]
GO
ALTER TABLE [dbo].[ProductColors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductColors_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductColors] CHECK CONSTRAINT [FK_dbo.ProductColors_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductImages_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_dbo.ProductImages_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.ProductImages_ProductImageId] FOREIGN KEY([ProductImageId])
REFERENCES [dbo].[ProductImages] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.ProductImages_ProductImageId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.StatusProducts_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[StatusProducts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.StatusProducts_StatusId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.TbUsers_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[TbUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.TbUsers_CreatedBy]
GO
ALTER TABLE [dbo].[ProductSizes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductSizes_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductSizes] CHECK CONSTRAINT [FK_dbo.ProductSizes_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[ProductSizes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductSizes_dbo.Sizes_SizeId] FOREIGN KEY([SizeId])
REFERENCES [dbo].[Sizes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductSizes] CHECK CONSTRAINT [FK_dbo.ProductSizes_dbo.Sizes_SizeId]
GO
ALTER TABLE [dbo].[TbUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TbUsers_dbo.StatusUsers_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[StatusUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TbUsers] CHECK CONSTRAINT [FK_dbo.TbUsers_dbo.StatusUsers_StatusId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRoles_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_dbo.UserRoles_dbo.Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRoles_dbo.TbUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[TbUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_dbo.UserRoles_dbo.TbUsers_UserId]
GO
