
@{
    ViewBag.Title = "Index";
}

<h2>Xin chào @ViewBag.Name! Đây là trang quản lý của bạn</h2>
<br /><br />
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Số Người Dùng</h5>
                <p class="card-text">Trang web của bạn đang có @ViewBag.QuanUser người dùng.</p>
                <a href="#" class="btn btn-primary">Chi tiết</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Số Đơn Hàng</h5>
                <p class="card-text">Trang web của bạn đang có @ViewBag.QuanOrder đơn hàng.</p>
                <a href="#" class="btn btn-primary">Chi tiết</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Số Sản Phẩm</h5>
                <p class="card-text">Trang web của bạn đang có @ViewBag.QuanPro sản phẩm.</p>
                <a href="#" class="btn btn-primary">Chi tiết</a>
            </div>
        </div>
    </div>
</div>