@model AptechShoseShop.Models.Entites.TbUser

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Tạo mới user</h2>

<div class="container">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            @*<h4 style="margin: 0; line-height: 1.42857143" class="modal-title">Register</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>*@
        </div>

        @{
            <div class="modal-body">
                <div style="padding:10px">
                    <form method="post" action="@Url.Action("Create", "TbUsers")">
                        <div class="form-group">
                            <label>Tên</label>
                            <input required name="FullName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Giới tính</label>
                            <select id="Gender" name="Gender" class="form-control nice-select sort-select">
                                <option value="-1">--Chọn--</option>
                                <option value="1">Nam</option>
                                <option value="0">Nữ</option>
                            </select>
                        </div>
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label>Email</label>
                            <input required name="Email" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input required name="Password" type="password" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Số điện thoại</label>
                            <input name="NumberPhone" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <input name="Address" class="form-control" />
                        </div>

                        <div class="form-group">
                            <button id="submitButton" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>

</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
